body, header, .contenu, .espace{
    display: flex;
    flex: 1;
}

div {
    display: block;
}

.titre{
    color: coral;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
.btn{
    display: flex;
    flex: 1;
    padding: 1em;
    border: black solid 1px;
    background-color: cornflowerblue;
    justify-content: center;
    align-self: center;
    width: 50%;
}
a{
    text-decoration: none;
}
.elt{
    text-align: center;
    font-weight: 1.2em;
    font-weight: bolder;
}
.colonne{
    flex-direction: column;
}
