body{
    display: flex;
    background-image: url(image/fond.jpg);
    background-position: center;
    background-repeat: repeat;
}
header{
    display: flex;
    flex: 1;
    background-image: url(image/header.jpg);
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
    flex: 1;
}
.page{
    width: 80vw;
    flex-direction: column;
}
.espace{
    flex: 1.1;
}
.logo{
    flex: 1;
}
#logo{
    width: 100%;
}
.titre{
    flex: 9;
    font-weight: bolder;
    font-size: 2.5em;
    justify-content: center;
}
.partie1{
    display: flex;
    flex: 1;
}
nav{
    display: flex;
    flex: 1;
    background-image: url(image/fond1.png);
    background-position: left;
    justify-content: center;
}
.bouton{
    flex: 3;
    background-image: url(image/fond.jpg);
    border: gray solid 3px;
    border-radius: 0.3em;
    box-shadow: 2px 2px gray;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.video{
    flex: 1;
    height: 35vh; 
}
.boxDeroulant{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    overflow-y: scroll;
        
}
.titre2{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
}
.description{
    display: flex;
    flex: 1;
    
}
.photo{
    flex: 0.4;    
}
.photocook{
    width: 100%;
}
.partie2{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}


