:root{
    --couleur1: rgba(29, 4, 169, 0.911);
    --couleur2: rgba(0, 0, 255, 0.897);
    --couleurArticle: linear-gradient(var(--couleur1) 35%, var(--couleur2) 45% );
    --couleur3: cornflowerblue;
    --couleur4:  #173c80;
    --couleurFond: linear-gradient(var(--couleur3), var(--couleur4));
}