#vert{
    float: left;
    background-color: green;
    width: 70%;
    height: 70%;
}
#rouge{
    float: right;
    background-color: red;
    width: 30%;
    height : 70%;
}
#bleu{
    background-color: blue;
    width: 70%;
    height: 30%;
    float: left;
}
#jaune{
    background-color: yellow;
    width: 30%;
    height: 30%;
    float: right;
}