/*nav*/

nav {
    background-color: blue;
    color: greenyellow;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 80%;
}
body{
     background-color: rgb(224, 214, 214);
     margin-right: 45%;
}
h1{
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 2px 2px red;
}
#firstp{
    background-color: cornsilk;
    border:black solid 2px;
    text-align: center;
    font-weight: lighter;
    color: rgb(63, 26, 196);
    margin-left: 5%;
    margin-right: 5%;
}
div{
    text-align: left;
    font-weight: bold;   
}
footer {
    font-size: x-small;
}
aside {
    width: 15%;
    border: green 2px solid;
    margin: 5%;
}