body, header, .contenu, .espace, div{
    display: flex;
    flex: 1;
}
body{
    flex-direction: column;
}
img{
    width: 100%;
}

.titre{
    flex: 3;
    color: coral;
    font-size: 3em;
    align-self: center;
    justify-content: center;
}
h1, h2{
    text-align: center;
}
.btn{
    display: flex;
    flex: 1;
    padding: 1em;
    border: black solid 1px;
    border-radius: 1.2em;
    background-color: cornflowerblue;
    justify-content: center;
    align-self: center;
    width: 50%;
}
a{
    text-decoration: none;
}
.elt{
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    background-color: lawngreen;
    border: solid black 2px;
    border-radius: 1.2em;
    justify-content: center;
    align-self: center;
    padding: 1.2em;
}
.colonne{
    flex-direction: column;
}
.liste{
    display:flex;
    justify-content: center;
    background-color: indigo;
}
.detail{
    font-size: 1.2em;
    border: black solid 1px;
    border-radius: 1.1em;
    background-color: rgb(133, 182, 59);
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 2em;
}
