div{
    display: flex;
    flex: 1;
    justify-content: center;
}
#carre{
    height: 5em;
    width: 5em;
    background-color: green;
    position: absolute;
    left: 100px;
    top: 100px;
}
#rect1{
    background-color: red;
    width: 3em;
    height: 5em;
    position: absolute;
    right: 250px;
    top: 200px;
}