@media screen and (max-width: 800px) {
    .page{
        width: 98vw;
    }
    .description{
        flex-direction: column;
    }
    .photo{
        width: 50%;
        align-self: center;
    }
}