html, body{
    margin: 0;
    padding: 0;
}
body, header, div{
    display: flex;
    flex: 1;
    justify-content: center;
}
h1{
    flex: 3;
    text-align: center;
}
.colonne{
    flex-direction: column;
}